.text-cont {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 1em;
}

.text-cont span{
  line-height: 1.5em;
  margin-bottom: 0.8em;
  display: block;
}

.text-cont p{
  text-align: center;
}

/* Responsivity */

@media (max-width: 480px) {

  .mini-img {
    padding: 0;
  }

  .mini-img img {
    height: 2.5em;
  }

  .text-cont {
    align-items: center;
    text-align: center;
    gap: 1em;
  }

  .img {
    padding: 50px;
  }

  .img-inner a img {
    height: 10em;
    border-radius: 100%;
  }

  .img-inner {
    padding: 2em;
  }

  .img-sub {
    min-width: 8em;
  }

  .inside-body {
    font-size: 13px;
  }
}



